/* Map viewer */
.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container .esri-component {
  pointer-events: none !important;
}

.map-container .esri-component > div {
  pointer-events: auto;
}

/* Loading Spinner */
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: fit-content;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #212529;
  font-size: 2rem;
  touch-action: auto;
  transform: translate(-50%, -50%);
}

.map {
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}

.esri-view .esri-view-surface {
  outline: none;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
  max-height: 250px !important;
}

.esri-ui-top-right,
.esri-ui-top-left {
  z-index: 1;
}

.esri-component.esri-zoom.esri-widget {
  background: none;
  box-shadow: none;
}

.esri-widget--button {
  overflow: visible;
  width: 36px;
  height: 36px;
  border: none !important;
  box-shadow: none !important;
  font-size: 18px;
  line-height: 1.1rem;
  outline: none;
}

.esri-zoom {
  order: 0;
}

.legend-container {
  order: 1;
}

.area-container {
  order: 2;
}

.measurement-container {
  order: 3;
}

.print-container {
  order: 4;
}

.basemap-container {
  order: 5;
}

.info-container {
  order: 6;
}

.bookmark-container {
  order: 7;
}

.upload-container {
  order: 8;
}

/* Basemap */
.basemap-container {
  display: flex;
  box-shadow: none !important;
}

.esri-basemap-gallery__item:first-child {
  margin-top: 0;
}

.esri-basemap-gallery__item {
  margin: 0;
}

/* Measure */
.measurement-panel {
  margin-top: -1rem;
}

.measurement-dropdown .ccl-expandable__button {
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #dadada;
  background-color: white;
  color: #212529;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.measurement-dropdown .ccl-expandable__button .dropdown-icon {
  margin-left: auto;
  color: black;
}

.measurement-dropdown
  .ccl-expandable__button[aria-expanded='true']
  .dropdown-icon {
  transform: rotate(-180deg);
}

.measurement-dropdown .ccl-expandable__button[aria-expanded='false'] + * {
  display: none;
}

.measurement-dropdown .ccl-expandable__button[aria-expanded='true'] + * {
  display: block;
}

.measurement-dropdown .map-menu-icon {
  margin-right: 1rem;
  margin-left: 0 !important;
  font-size: 1.25rem;
}

.esri-area-measurement-2d,
.esri-distance-measurement-2d {
  border-bottom: solid 1px #dadada;
}

.measurement-dropdown-container .esri-area-measurement-2d__measurement,
.measurement-dropdown-container .esri-distance-measurement-2d__measurement {
  background: white;
}

.measurement-container {
  display: flex;
  box-shadow: none !important;
}

.measurement-container .measurement-area.esri-measurement {
  display: block;
  flex-direction: column;
}

.measurement-buttons {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #dadada;
  background: white;
  white-space: nowrap;
}

.measurement-buttons {
  display: flex;
  justify-content: space-evenly;
  background: white;
}

.measurement-buttons .esri-widget--button {
  width: 100%;
  border-bottom: solid 4px transparent !important;
  background-color: white;
  color: black;
}

.measurement-buttons .esri-widget--button:hover {
  background-color: white;
  color: black;
}

.measurement-buttons .esri-widget--button.active {
  border-color: black !important;
}

.esri-measurement p {
  font-size: 0.875rem;
  line-height: inherit;
}

.measurement-coords {
  display: none;
  padding: 1rem 2rem;
  background-color: white;
}

.measurement-coords-text {
  font-size: 1rem;
}

.measurement-coords-title {
  line-height: 1.3rem;
  text-transform: capitalize;
}

.measurement-coords-title + b {
  display: inline-block;
  padding-bottom: 0.75rem;
}

/* Print */
.print-container {
  display: flex;
  box-shadow: none !important;
}

.print-container .esri-print {
  padding: 0;
}

.esri-print__header-title {
  display: none;
}

.esri-print__layout-tab {
  font-size: 1rem;
}

.esri-print input[type='checkbox'] {
  margin-right: 0.25rem;
  vertical-align: middle;
}

.print-container .esri-print .esri-print__swap-button,
.print-container .esri-print .esri-print__refresh-button {
  color: #dadada;
}

.print-container .esri-print .esri-print__swap-button:hover,
.print-container .esri-print .esri-print__refresh-button:hover {
  background: none;
  color: #212529;
}
/* Bookmark*/
.esri-bookmarks .esri-button {
  border-color: #a0b128;
  margin-left: 0.25rem;
  background-color: white;
  color: #a0b128 !important;
  transition: all 0.3s ease-out;
}

.esri-bookmarks .esri-button.esri-bookmarks__authoring-delete-button {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
  margin-left: 0;
}

.esri-bookmarks .esri-button:hover {
  border-color: #a0b128;
  background-color: #a0b128;
  color: white !important;
}

button.upload-bookmark-button {
  display: none;
  width: 16rem !important;
  justify-content: start !important;
  padding-left: 3px;
  border-color: #a0b128 !important;
  margin-left: 0.65rem;
  background-color: white !important;
  color: #a0b128 !important;
  font-size: 12px !important;
}

.upload-bookmark-button:hover {
  background-color: #a0b128 !important;
  color: white !important;
}

.download-bookmark-button {
  width: 25px !important;
  height: 30px !important;
  border-color: white !important;
  font-size: 30px !important;
}

/* Error report */
.error-report-button {
  display: block;
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem 1rem;
  border: 1px solid #a0b128 !important;
  margin: 1rem 0;
  background-color: white !important;
  color: #a0b128 !important;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-out;
}

.error-report-button:hover {
  border-color: #a0b128 !important;
  background-color: #a0b128 !important;
  color: white !important;
}

.right-panel-header span,
.error-report-coords-heading,
.error-report-datasets-title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: inherit;
  font-size: 0.9rem;
  font-weight: bold;
}

.error-report-coords,
.error-report-datasets,
.error-report-datasets li {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

body.section-map-viewer
  #page-document.ui.container
  .esri-widget__content--empty {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  color: inherit;
  font-size: 1.25rem; /* Increased font size */
}

body.section-map-viewer
  #page-document.ui.container
  .esri-widget__content--empty
  div
  div.esri-button-menu__content
  ul.esri-button-menu__item-wrapper
  li.esri-button-menu__item
  [for*='-menu-item-1'] {
  display: none;
}
/* Area */
.area-container {
  display: flex;
  box-shadow: none !important;
  font-size: 0.875rem;
}

.area-panel .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

.area-panel fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

.area-panel {
  padding-top: 1rem;
}

/* .area-container .area-header { */
/* margin-bottom: 1rem; */
/* } */

.area-header {
  padding-top: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 14px;
  font-weight: bold;
}

.area-header2 {
  display: flex;
  padding-right: 0;
  margin-left: 2rem;
  color: #000;
  font-size: 14px;
  font-weight: 400;
}

.file-upload {
  margin-left: 2rem;
  color: #5a5a5a;
  font-size: 14px;
}

.nuts-selection {
  margin-left: 2rem;
  color: #5a5a5a;
  font-size: 14px;
}

.area-dot {
  margin-right: 0.5rem;
  color: #a0b128;
  font-size: 16px;
  font-weight: 700;
}

.area-search-block {
  display: flex;
  margin-left: 1.7rem;
}

.rectangle-block {
  display: flex;
  margin-left: 1rem;
  font-size: 14px;
}

.rectangle-header {
  color: #000;
  font-weight: 400;
}

.area-panel .ccl-form {
  padding-bottom: 0.5rem !important;
  margin-left: 1rem !important;
}

.area-panel .ccl-form-head {
  border-width: 2px;
  border-style: none none solid none;
  border-color: #a0b128;
}

.area-panel .ccl-form:last-child {
  border-bottom: none;
}

.nuts-form {
  margin-top: 0.5rem;
  margin-left: 2rem;
}

div.area-container .ccl-form .ccl-form-check-input + .ccl-form-radio-label {
  display: flex;
  justify-content: flex-start;
  padding-left: 1.75rem;
}

label.ccl-form-radio-label span.nuts-menu-icon {
  max-width: 30px;
}

.area-container .esri-button {
  max-width: fit-content;
  padding: 6px;
  border-color: #a0b128;
  margin-top: 0;
  margin-left: auto;
  background-color: #a0b128;
  color: white !important;
  transition: all 0.3s ease-out;
}

.area-container .esri-button:hover {
  border-color: #a0b128;
  background-color: white;
  color: #a0b128 !important;
}

#area-searchtext {
  width: 7rem;
  height: 1.5rem;
  border: 1px solid #dadada;
  margin-bottom: 0.5rem;
  margin-left: 1rem !important;
}

#area-searchtext > input:focus-visible {
  outline: -webkit-focus-ring-color auto 1px;
}

.prepackage-option {
  font-size: 14px;
}

.area-searchbutton {
  width: 1.5rem !important;
  height: 1.5rem !important;
  min-height: 1.5rem !important;
  margin-top: 0 !important;
  margin-left: 0 !important;
}

.no-result-message {
  display: none;
  margin-top: 0.1rem;
  margin-left: 0.5rem;
  color: red;
  font-size: 12px;
}

.no-filter-result-message {
  display: none;
  padding-top: 0.3rem;
  padding-left: 0.5rem;
  background-color: white;
  color: red;
  font-size: 15px;
}

.coordinateWindow {
  position: absolute;
  top: 23rem;
  left: 47rem;
  display: none;
  width: 23rem;
  height: 13rem;
  background-color: white;
}

.coordinateHeader {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: #a0b128;
  color: white;
}

.closeCoordinates {
  width: 1.4rem;
  height: 1.4rem;
  padding: 0.2rem;
  margin-right: 0.2rem;
}

.closeCoordinates:hover {
  background-color: #7c8921;
}

.coordinateContainer {
  display: block;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-top: 1rem;
}

.coordinateSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  margin-right: 0.5rem;
  margin-left: 0.3rem;
}

.coordinateSubContainerTitle {
  width: 1rem;
}

.menu-search-button-coordinatess {
  padding: 0.2rem;
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  border: none;
  margin-top: 1.5rem;
  margin-left: 8.5rem;
  background-color: #a0b128;
  color: white;
}

.coordinateInput {
  width: 6rem;
  border-width: 1px;
  border-style: solid;
  border-color: #a0b128 !important;
  margin-left: 0.5rem;
  outline: none;
}

/* WMS Upload */
div.upload-container.esri-component
  > div.right-panel
  > div.right-panel-content {
  display: unset !important;
}

.upload-container {
  display: flex;
  box-shadow: none !important;
}

.upload-container input::placeholder {
  color: #999;
  font-size: 0.875rem;
}

.upload-container .esri-button:hover {
  border: none;
  background-color: #a0b128;
}

.upload-container .esri-button {
  border-color: #a0b128;
  background-color: white;
  color: #a0b128;
}

.upload-panel {
  display: unset !important;
}
/* Left menu */
.map-menu {
  position: relative;
  display: none;
  width: 450px;
  font-size: 1rem;
}

.map-menu.tab-container .tab {
  display: flex !important;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: solid 4px white;
  margin: 0;
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  white-space: normal;
}

.map-menu.tab-container .tab-selected {
  border-bottom: solid 4px black;
  background: white;
}

.map-menu.tab-container .tabs {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  border-bottom: solid 1px #dadada;
  background-color: white;
  white-space: nowrap;
}

.map-left-menu-container {
  display: flex;
  box-shadow: none !important;
}

.map-menu .ccl-fieldset {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
}

.map-menu .ccl-fieldset .ccl-dropdown__link {
  margin-top: 0;
}

.map-menu .ccl-form-legend,
.map-menu label span {
  color: black;
  line-height: inherit;
  word-break: break-word;
}

.map-menu .panels {
  width: 100%;
  height: 450px;
  padding: 0;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-menu .panel {
  position: relative;
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Login */
.login-panel {
  position: absolute;
  display: none;
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 4px 0px #dadada;
}

.login-panel .login-block {
  width: 100%;
  margin: 0;
  background: none;
  float: none;
}

.login-panel .login-text {
  margin-bottom: 1rem;
}

.login-panel .login-block .ccl-button {
  margin: 0;
}

#login_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  color: black;
  cursor: pointer;
}

/* touchScreenPopup START*/
.touchScreenPopup-panel {
  position: absolute;
  display: none;
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 4px 0px #dadada;
}

.touchScreenPopup-panel .touchScreenPopup-block {
  width: 100%;
  margin: 0;
  background: none;
  float: none;
}

.touchScreenPopup-panel .touchScreenPopup-text {
  margin-bottom: 1rem;
}

.touchScreenPopup-panel .touchScreenPopup-block .ccl-button {
  margin: 0;
}

#touchScreenPopup_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  color: #a0b128;
  cursor: pointer;
}

/* touchScreenPopup END*/

.map-menu-icon-login .fa-lock {
  position: absolute;
  top: 1.75rem;
  right: 0.75rem;
  font-size: 0.85rem;
}

.map-menu.tab-container .panel-selected {
  display: block;
}

.map-menu-dropdown .ccl-expandable__button {
  position: relative;
  display: -webkit-flex;
  display: flex;
  padding: 0.5rem 0;
  padding-left: 1rem;
  border: none;
  background-color: white;
  color: #212529;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.map-menu-dropdown > .ccl-expandable__button:hover {
  background-color: #dadada40;
}

.map-menu-dropdown .ccl-expandable__button .dropdown-icon {
  height: 1.25rem;
  margin-right: 1rem;
  color: black;
}

.map-menu-dropdown
  .ccl-expandable__button[aria-expanded='false']
  .dropdown-icon {
  transform: rotate(0deg);
}

.map-menu-dropdown
  .ccl-expandable__button[aria-expanded='true']
  .dropdown-icon {
  transform: rotate(90deg);
}

.map-menu-dropdown .ccl-expandable__button::after {
  margin-right: 0;
  color: black;
}

.map-menu-dropdown .ccl-expandable__button:hover::after {
  color: black;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='false'] + * {
  display: none;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='true'] + * {
  display: block;
}

.map-menu-dropdown > .ccl-expandable__button {
  margin-bottom: 0;
}

.map-menu-product-dropdown .ccl-expandable__button {
  margin-top: 0;
}

.map-menu-dropdown .map-menu-products-container {
  padding-right: 0 !important;
  background-color: white;
}

.map-menu-dropdown .ccl-form .ccl-form-group {
  display: flex;
  margin-top: 0;
}

.map-menu-dropdown .map-menu-dataset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.map-menu-family-dataset-dropdown {
  padding-left: 2rem;
}

.map-menu-family-dropdown {
  padding-left: 2rem;
}

.map-menu-dataset > div:first-of-type {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.map-menu .map-menu-layers-container {
  width: 100%;
}

.map-menu-layer:hover {
  background-color: #dadada40;
}

.land .map-menu-layer {
  border-bottom: 1px solid rgba(160, 177, 40, 0.2) !important;
}

.map-menu-icons {
  display: inline-block;
  white-space: nowrap;
}

.map-menu-icon {
  margin-left: 0.5rem;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.land .map-menu-icon.map-menu-service-icon {
  margin-left: 1.75rem;
}

.map-menu-dropdown i:hover {
  color: black;
}

#active_panel {
  height: 100%;
}

#active_panel .no-active-datasets {
  display: block;
  margin: 1rem;
}

#active_panel .active-layer + .no-active-datasets {
  display: none;
}

#active_panel #active_layers {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#map_remove_layers {
  margin-top: auto;
}

#map_remove_layers svg {
  margin-right: 0.5rem;
}

.active-layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 1px #dadada;
}

.active-layer:hover {
  background: #dadada40;
  cursor: move;
}

.active-layer-name {
  word-break: break-word;
}

.locked {
  cursor: auto;
  opacity: 0.3;
  pointer-events: none;
}

.active-layer-options {
  white-space: nowrap;
}

.active-layer-options i {
  margin: 0;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.active-layer-options i:hover {
  color: black;
}

.active-layer-options > span {
  margin-left: 1rem;
}

#nolayers_message {
  padding: 1rem;
}

/* Download area */
.map-download-area-container {
  position: relative;
}

.map-download-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  min-width: 350px;
  max-width: 500px;
  padding: 1.5rem;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
}

.map-download-title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.map-download-area,
.map-download-resource {
  margin: 1.5rem 0;
}

.map-download-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.map-download-resource select {
  cursor: pointer;
}

.map-download-area .ccl-form-legend + .ccl-form-group {
  margin-top: 0.5rem;
}

.map-download-buttons {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.map-download-block .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

#download_panel .area-panel {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
}

.ui.floating.message {
  position: absolute;
  z-index: 1;
  left: 0;
  width: calc(100% - 2rem);
  margin: 0;
}

/* Legend*/
.legend-container {
  display: flex;
  box-shadow: none !important;
}

.legend-panel.esri-legend.esri-widget {
  overflow: visible;
}

.esri-legend .esri-legend__service,
.esri-legend .esri-legend__message {
  padding: 0 !important;
  margin-bottom: 1rem;
}

.esri-legend .esri-legend__service {
  border-bottom: solid 1px #dadada;
}

.esri-legend .esri-legend__layer {
  margin: 0;
}

/* Info widget */
.info-container {
  display: none;
  box-shadow: none !important;
}

.info-panel-buttons {
  display: flex;
  justify-content: space-between;
}

.info-panel-buttons button {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.info-panel-buttons .info-button-left svg {
  margin-right: 0.25rem;
}

.info-panel-buttons .info-button-right svg {
  margin-left: 0.25rem;
}

.info-panel-buttons button svg {
  color: inherit;
}

.info-panel-title {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  word-break: break-word;
}

.info-panel select {
  margin-bottom: 1rem;
}

.info-table {
  width: 100%;
  margin-bottom: 1rem;
  table-layout: fixed;
}

.info-table td {
  width: 50%;
  padding: 1rem 0.75rem;
  font-size: 0.875rem;
  vertical-align: top;
  word-break: break-word;
}

.info-table tr:nth-child(even) {
  background-color: #ebebeb33;
}

.info-table tr:nth-child(odd) {
  background-color: #ebebeb;
}

.info-statistics-panel {
  margin-bottom: 1rem;
}

/* Time slider*/
.esri-ui-bottom-right.esri-ui-corner {
  width: 100%;
  height: 100%;
}

.timeslider-container {
  position: absolute;
  z-index: 1;
  margin-left: 0 !important;
}

.timeslider-container .timeslider-panel {
  cursor: move;
}

#slide_frame {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#timeslider_close {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin: 0.5rem;
  color: #a0b128;
  cursor: pointer;
}

.timeslider-panel + #timeslider_close {
  display: block;
}

.esri-time-slider__time-extent-date {
  margin: 0.5rem 0;
  color: #a0b128 !important;
  font-weight: bold !important;
}

.esri-time-slider__time-extent-time,
.esri-time-slider__min-date + div,
.esri-time-slider__max-date + div {
  display: none;
}

.esri-time-slider__mode--time-window .esri-slider__segment-0,
.esri-time-slider__mode--time-window .esri-slider__segment-1,
.esri-time-slider__mode--time-window .esri-slider__segment-2 {
  background-color: #c5c5c5 !important;
}

.esri-slider__thumb {
  border-color: #a0b128 !important;
  outline: none !important;
}

.esri-slider__thumb:hover {
  border-color: #7c8921 !important;
}

.esri-widget--button {
  overflow: visible !important;
  width: 36px !important;
  height: 36px !important;
  border: none !important;
  background-color: rgba(160, 177, 40, 0.8) !important;
  box-shadow: none !important;
  color: #fff !important;
  font-size: 18px !important;
  line-height: 1.1rem !important;
  outline: none !important;
}

.esri-widget--button:hover {
  background-color: #7c8921 !important;
  color: white !important;
}

.esri-time-slider__slider {
  background-color: rgba(160, 177, 40, 0.058823529411764705) !important;
}

.esri-time-slider__slider .esri-slider {
  background-color: transparent !important;
}

.timeslider-calendar-button {
  padding: 0.5rem 2rem;
  border-top: solid 1px #a0b12833;
  background: white;
}

.timeslider-calendar-button button {
  border: none;
  background: none;
  cursor: pointer;
}

.timeslider-calendar-button button svg {
  margin-right: 0.5rem;
  color: #a0b128;
}

.timeslider-calendar-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -300px;
  padding: 0.75rem 1rem;
  background: white;
}

.timeslider-calendar-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.timeslider-calendar-header .esri-icon-close {
  margin-left: 1rem;
  color: #a0b128;
  cursor: pointer;
}

.timeslider-calendar-panel p {
  min-height: auto;
  margin-bottom: 0.75rem;
  font-size: 0.75rem;
  line-height: normal;
}

.timeslider-calendar-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.75rem;
}

.timeslider-calendar-row label {
  flex: 1;
}

.timeslider-calendar-row .react-datepicker-wrapper {
  flex: 3;
}

.timeslider-calendar-row .react-datepicker-wrapper input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #dadada;
}

.timeslider-calendar-container button {
  width: 100%;
  padding: 0.375rem;
  font-size: 0.875rem;
}

.react-datepicker__header {
  background-color: #a0b128 !important;
}

.react-datepicker__header select {
  border: none;
}

.react-datepicker__navigation {
  width: auto !important;
}

.react-datepicker__navigation--previous {
  margin-left: 0.5rem;
}

.react-datepicker__navigation--next {
  margin-right: 0.5rem;
}

.react-datepicker__navigation-icon::before {
  border-color: white !important;
}

.react-datepicker__header__dropdown {
  margin-top: 0.25rem;
}

.react-datepicker__day--selected {
  background-color: #a0b128 !important;
  color: white !important;
}

.react-datepicker__day--keyboard-selected {
  background-color: #a0b12833 !important;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day.react-datepicker__day--keyboard-selected {
  background: none !important;
  color: black;
}

.datetime-picker {
  background-color: white;
}

.calendar-button {
  border: #a0b128;
  margin-top: 0.5rem;
  margin-left: 11rem;
  background-color: white;
  color: #a0b128;
}

.calendar-button:hover {
  background-color: #a0b128;
  color: white;
}

.datepicker {
  display: none;
  margin-top: 0.5rem;
  margin-left: 4.5em;
}

.timeslider-container {
  background-color: white;
}

/* Scale */
.esri-scale-bar {
  z-index: 0;
}

/* Modal */
.map-download-modal.ui.modal {
  margin: 0 !important;
}

.map-download-modal.ui.modal li p {
  font-size: 1rem;
}

.map-download-modal.ui.modal > .actions {
  padding: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .map-download-modal.ui.modal > .content,
  .map-download-modal.ui.modal > .actions {
    padding: 1.5rem !important;
  }
}

.map-download-modal .map-download-buttons {
  margin: 0;
}

/* Popup */
.ui.custom.popup {
  max-width: 400px;
  font-size: 0.875rem;
}

@media only screen and (max-width: 767px) {
  .ui.custom.popup {
    max-width: 400px;
  }

  .touchScreenPopup-panel {
    display: block;
  }
}

/* Right panel */
.right-panel {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 300px;
  height: calc(600px - 45px);
  max-height: calc(600px - 45px);
  flex-direction: column;
  background: white;
}

.right-panel-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.right-panel-content {
  overflow: auto;
  height: 100%;
  padding: 1rem;
}

.show-panel {
  width: 336px !important;
}

.active-widget {
  background: black !important;
}

.esri-component {
  margin-right: auto;
}

/* Tooltip */
[tooltip][type='widget'] {
  height: 36px;
}

[tooltip][type='widget']::after {
  border: none;
  background: #ffffffcc;
}

[tooltip][direction^='left'][type='widget']::before,
[tooltip][direction^='right'][type='widget']::before {
  border-color: transparent;
}

/* Opacity */
.opacity-panel {
  position: absolute;
  display: none;
  width: 200px;
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 4px 0px #dadada;
}

#opacity_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  color: black;
  cursor: pointer;
}

.opacity-title {
  color: black;
  font-size: 0.875rem;
  font-weight: 600;
}

.opacity-label {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}

.opacity-label.left {
  float: left;
}

.opacity-label.right {
  float: right;
}

input[type='range'] {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  background: #c5c5c5;
  border-radius: 5px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: solid 3px black;
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: move;
  transition: all 0.3s ease-in-out;
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: solid 3px black;
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}

input[type='range']::-ms-thumb {
  width: 16px;
  height: 16px;
  border: solid 3px black;
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
  border-color: black;
  transform: scale(1.2);
}

input[type='range']::-moz-range-thumb:hover {
  border-color: black;
  transform: scale(1.2);
}

input[type='range']::-ms-thumb:hover {
  border-color: black;
  transform: scale(1.2);
}

input[type='range']::-webkit-slider-runnable-track {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
}

input[type='range']::-moz-range-track {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
}

input[type='range']::-ms-track {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
}

.hotspot-filter-message-container,
.hotspot-filter-message,
.hotspot-filter-message-dataset {
  display: block;
}

.zoom-in-message,
.hotspot-filter-message {
  width: 247 !important;
  padding: 0.3rem 0.6rem 0.1rem 0.6rem;
  margin-top: 0.2rem;
  background: #a0b128;
  border-radius: 10px;
  color: white;
  font-size: 0.875rem;
  text-align: center;
}

/* Privacy protection tooltip */
.ui.primary.buttons .button,
.ui.primary.button {
  background-color: #a0b128 !important;
  background-image: none;
  color: #ffffff;
  text-shadow: none;
}

.privacy-toggle .ui.toggle.checkbox input:checked ~ label:before {
  background-color: #a0b128 !important;
}

.privacy-toggle .ui.checked.toggle.checkbox input:checked ~ label:before {
  background-color: #a0b128 !important;
}

.ui.checkbox input:checked ~ label:before {
  border: 1px solid #a0b128 !important;
  box-shadow: none;
}

.privacy-toggle .ui.checkbox input:checked ~ label:after {
  color: #a0b128 !important;
  content: '\e800';
}

/*Draw rectangle popup*/

.drawRectanglePopup-content {
  position: absolute;
  display: flex;
  width: 19rem;
  height: 60px;
  /* justify-content: space-around; */
  padding: 0.6rem 0.8rem 0.8rem 0.8rem;
  background-color: white;
}

.drawRectanglePopup-content .drawRectanglePopup-icon {
  margin-top: 0.6rem;
  margin-right: 0.6rem;
  color: #a0b128;
  font-size: 1rem;
  text-decoration: none;
}

.drawRectanglePopup-text {
  align-content: center;
  /* flex: auto; */
  font-family: 'Lato', sans-serif;
  font-size: 0.875rem;
}

div.map-container.popup-block {
  position: absolute;
  top: 0px;
  left: -34vw;
  height: auto;
}

.esri-ui-corner .esri-component.pan-container {
  display: none;
  flex-direction: row;
  align-items: center;
  margin-left: -72px;
  box-shadow: none;
}

.esri-component.drawRectanglePopup-block {
  margin: 0 !important;
}

.esri-component.drawRectanglePopup-block .drawRectanglePopup-content {
  top: 0;
  right: -450px;
  transform: translate(-50vw, 0);
}

/* Hotspot*/
.hotspot-container {
  display: none;
  flex-direction: column;
  box-shadow: none !important;
}

.hotspot-panel/*.esri-legend.esri-widget*/ {
  overflow: visible;
}

.hotspot-container .esri-button {
  border: none;
  background-color: #a0b128;
}

.hotspot-container .esri-button:enabled:hover,
.hotspot-container .esri-button[enabled]:hover {
  border-color: #a0b128;
  background-color: white;
  color: #a0b128;
}

.hotspot-container .esri-button#applyFilterButton:disabled,
.hotspot-container .esri-button#applyFilterButton[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

/*.hotspot-container .esri-select{
  font-family:Helvetica, sans-serif;
  font-size:20px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
*/

/*Swipe*/

.swipe-container .esri-button {
  border: none;
  background-color: #a0b128;
}

.swipe-container .esri-button:hover {
  border-color: #a0b128;
  background-color: white;
  color: #a0b128;
}

.esri-swipe div {
  outline: none !important;
}

.search-panel {
  background-color: white;
}

.menu-searchpanel {
  padding: 0.6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: rgba(160, 177, 40, 0.1);
}

.search-input.menu-search-input {
  display: flex;
}

#menu-searchtext {
  width: 23.5rem;
  height: 2rem;
  padding-left: 0.3rem;
  border-width: 1px;
  border-color: rgba(110, 110, 110, 0.3);
}

.menu-search-button {
  width: 2rem;
  height: 2rem;
  border-width: 1px;
  border-color: rgba(110, 110, 110, 0.3);
  margin-left: 0.5rem;
  background-color: #a0b128;
  border-radius: 0;
  color: white;
}

.search-menu-icon {
  width: 2rem;
  height: 2rem;
}

.search-input-clear-icon-button {
  height: 1.5rem;
}

.filter-logo {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 0 !important;
}

.menu-filter {
  display: flex;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.filter-select {
  max-width: 18rem;
  height: 1.5rem !important;
}

.clear-filters {
  display: none;
  margin-left: 15rem;
  font-size: small;
  text-decoration: underline;
}

.clearsearch.search-input-clear-icon-button.button {
  display: none;
  margin-top: 0.2rem;
  /* position: absolute; */
  margin-left: -1.7rem;
}

.close-filters-icon {
  padding-left: 0.8rem;
  color: #a0b128;
}

.filters-panel {
  display: none;
}

.filters-element.filter-logo.filters-header {
  justify-content: space-between;
}
