/* Map viewer */
.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container .esri-component {
  pointer-events: none !important;
}

.map-container .esri-component > div {
  pointer-events: auto;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #212529;
  font-size: 2rem;
  touch-action: auto;
}

.map {
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}

.esri-view .esri-view-surface {
  outline: none;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
  max-height: 250px !important;
}

.esri-ui-top-right,
.esri-ui-top-left {
  z-index: 1;
}

.esri-component.esri-zoom.esri-widget {
  background: none;
  box-shadow: none;
}

.esri-widget--button {
  overflow: visible;
  width: 36px;
  height: 36px;
  border: none !important;
  box-shadow: none !important;
  font-size: 18px;
  line-height: 1.1rem;
  outline: none;
}

.esri-zoom {
  order: 0;
}

.legend-container {
  order: 1;
}

.area-container {
  order: 2;
}

.measurement-container {
  order: 3;
}

.print-container {
  order: 4;
}

.basemap-container {
  order: 5;
}

.info-container {
  order: 6;
}

/* Basemap */
.basemap-container {
  display: flex;
  box-shadow: none !important;
}

.esri-basemap-gallery__item:first-child {
  margin-top: 0;
}

.esri-basemap-gallery__item {
  margin: 0;
}

/* Measure */
.measurement-panel {
  margin-top: -1rem;
}

.measurement-dropdown .ccl-expandable__button {
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 1rem 0;
  border-bottom: 1px solid #dadada;
  background-color: white;
  color: #212529;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.measurement-dropdown .ccl-expandable__button .dropdown-icon {
  margin-left: auto;
  color: black;
}

.measurement-dropdown
  .ccl-expandable__button[aria-expanded='true']
  .dropdown-icon {
  transform: rotate(-180deg);
}

.measurement-dropdown .ccl-expandable__button[aria-expanded='false'] + * {
  display: none;
}

.measurement-dropdown .ccl-expandable__button[aria-expanded='true'] + * {
  display: block;
}

.measurement-dropdown .map-menu-icon {
  margin-right: 1rem;
  margin-left: 0 !important;
  font-size: 1.25rem;
}

.esri-area-measurement-2d,
.esri-distance-measurement-2d {
  border-bottom: solid 1px #dadada;
}

.measurement-dropdown-container .esri-area-measurement-2d__measurement,
.measurement-dropdown-container .esri-distance-measurement-2d__measurement {
  background: white;
}

.measurement-container {
  display: flex;
  box-shadow: none !important;
}

.measurement-container .measurement-area.esri-measurement {
  display: block;
  flex-direction: column;
}

.measurement-buttons {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #dadada;
  background: white;
  white-space: nowrap;
}

.measurement-buttons {
  display: flex;
  justify-content: space-evenly;
  background: white;
}

.measurement-buttons .esri-widget--button {
  width: 100%;
  border-bottom: solid 4px transparent !important;
  background-color: white;
  color: black;
}

.measurement-buttons .esri-widget--button:hover {
  background-color: white;
  color: black;
}

.measurement-buttons .esri-widget--button.active {
  border-color: black !important;
}

.esri-measurement p {
  font-size: 0.875rem;
  line-height: inherit;
}

.measurement-coords {
  display: none;
  padding: 1rem 2rem;
  background-color: white;
}

.measurement-coords-text {
  font-size: 1rem;
}

.measurement-coords-title {
  line-height: 1.3rem;
  text-transform: capitalize;
}

.measurement-coords-title + b {
  display: inline-block;
  padding-bottom: 0.75rem;
}

/* Print */
.print-container {
  display: flex;
  box-shadow: none !important;
}

.print-container .esri-print {
  padding: 0;
}

.esri-print__header-title {
  display: none;
}

.esri-print__layout-tab {
  font-size: 1rem;
}

.esri-print input[type='checkbox'] {
  margin-right: 0.25rem;
  vertical-align: middle;
}

.print-container .esri-print .esri-print__swap-button,
.print-container .esri-print .esri-print__refresh-button {
  color: #dadada;
}

.print-container .esri-print .esri-print__swap-button:hover,
.print-container .esri-print .esri-print__refresh-button:hover {
  background: none;
  color: #212529;
}

/* Area */
.area-container {
  display: flex;
  box-shadow: none !important;
  font-size: 0.875rem;
}

.area-panel .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

.area-panel fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

.area-container .area-header {
  margin-bottom: 1rem;
}

/* Left menu */
.map-menu {
  position: relative;
  display: none;
  width: 450px;
  font-size: 1rem;
}

.map-menu.tab-container .tab {
  display: flex !important;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: solid 4px white;
  margin: 0;
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  white-space: normal;
}

.map-menu.tab-container .tab-selected {
  border-bottom: solid 4px black;
  background: white;
}

.map-menu.tab-container .tabs {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  border-bottom: solid 1px #dadada;
  background-color: white;
  white-space: nowrap;
}

.map-left-menu-container {
  display: flex;
  box-shadow: none !important;
}

.map-menu .ccl-fieldset {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
}

.map-menu .ccl-fieldset .ccl-dropdown__link {
  margin-top: 0;
}

.map-menu .ccl-form-legend,
.map-menu label span {
  color: black;
  line-height: inherit;
  word-break: break-word;
}

.map-menu .panels {
  width: 100%;
  height: 450px;
  padding: 0;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
}

.map-menu .panel {
  position: relative;
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* Login */
.login-panel {
  position: absolute;
  display: none;
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 4px 0px #dadada;
}

.login-panel .login-block {
  width: 100%;
  margin: 0;
  background: none;
  float: none;
}

.login-panel .login-text {
  margin-bottom: 1rem;
}

.login-panel .login-block .ccl-button {
  margin: 0;
}

#login_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  color: black;
  cursor: pointer;
}

/* touchScreenPopup START*/
.touchScreenPopup-panel {
  position: absolute;
  display: none;
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 4px 0px #dadada;
}

.touchScreenPopup-panel .touchScreenPopup-block {
  width: 100%;
  margin: 0;
  background: none;
  float: none;
}

.touchScreenPopup-panel .touchScreenPopup-text {
  margin-bottom: 1rem;
}

.touchScreenPopup-panel .touchScreenPopup-block .ccl-button {
  margin: 0;
}

#touchScreenPopup_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  color: #a0b128;
  cursor: pointer;
}

/* touchScreenPopup END*/

.map-menu-icon-login .fa-lock {
  position: absolute;
  top: 1.75rem;
  right: 0.75rem;
  font-size: 0.85rem;
}

.map-menu.tab-container .panel-selected {
  display: block;
}

.map-menu-dropdown .ccl-expandable__button {
  position: relative;
  display: -webkit-flex;
  display: flex;
  padding: 0.5rem 0;
  padding-left: 1rem;
  border: none;
  background-color: white;
  color: #212529;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.map-menu-dropdown > .ccl-expandable__button:hover {
  background-color: #dadada40;
}

.map-menu-dropdown .ccl-expandable__button .dropdown-icon {
  height: 1.25rem;
  margin-right: 1rem;
  color: black;
}

.map-menu-dropdown
  .ccl-expandable__button[aria-expanded='false']
  .dropdown-icon {
  transform: rotate(0deg);
}

.map-menu-dropdown
  .ccl-expandable__button[aria-expanded='true']
  .dropdown-icon {
  transform: rotate(90deg);
}

.map-menu-dropdown .ccl-expandable__button::after {
  margin-right: 0;
  color: black;
}

.map-menu-dropdown .ccl-expandable__button:hover::after {
  color: black;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='false'] + * {
  display: none;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='true'] + * {
  display: block;
}

.map-menu-dropdown > .ccl-expandable__button {
  margin-bottom: 0;
}

.map-menu-product-dropdown .ccl-expandable__button {
  margin-top: 0;
}

.map-menu-dropdown .map-menu-products-container {
  padding-right: 0 !important;
  background-color: white;
}

.map-menu-dropdown .ccl-form .ccl-form-group {
  display: flex;
  margin-top: 0;
}

.map-menu-dropdown .map-menu-dataset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.map-menu-dataset > div:first-of-type {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.map-menu .map-menu-layers-container {
  width: 100%;
}

.map-menu-layer:hover {
  background-color: #dadada40;
}

.map-menu-icons {
  display: inline-block;
  white-space: nowrap;
}

.map-menu-icon {
  margin-left: 0.5rem;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.map-menu-dropdown i:hover {
  color: black;
}

#active_panel {
  height: 100%;
}

#active_panel .no-active-datasets {
  display: block;
  margin: 1rem;
}

#active_panel .active-layer + .no-active-datasets {
  display: none;
}

#active_panel #active_layers {
  display: flex;
  height: 100%;
  flex-direction: column;
}

#map_remove_layers {
  margin-top: auto;
}

#map_remove_layers svg {
  margin-right: 0.5rem;
}

.active-layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 1px #dadada;
}

.active-layer:hover {
  background: #dadada40;
  cursor: move;
}

.active-layer-name {
  word-break: break-word;
}

.locked {
  cursor: auto;
  opacity: 0.3;
  pointer-events: none;
}

.active-layer-options {
  white-space: nowrap;
}

.active-layer-options i {
  margin: 0;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.active-layer-options i:hover {
  color: black;
}

.active-layer-options > span {
  margin-left: 1rem;
}

#nolayers_message {
  padding: 1rem;
}

/* Download area */
.map-download-area-container {
  position: relative;
}

.map-download-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  min-width: 350px;
  max-width: 500px;
  padding: 1.5rem;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
}

.map-download-title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.map-download-area,
.map-download-resource {
  margin: 1.5rem 0;
}

.map-download-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.map-download-resource select {
  cursor: pointer;
}

.map-download-area .ccl-form-legend + .ccl-form-group {
  margin-top: 0.5rem;
}

.map-download-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.map-download-block .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

#download_panel .area-panel {
  width: 100%;
  height: 100%;
  font-size: 0.9rem;
}

.ui.floating.message {
  position: absolute;
  z-index: 1;
  left: 0;
  width: calc(100% - 2rem);
  margin: 0;
}

/* Legend*/
.legend-container {
  display: flex;
  box-shadow: none !important;
}

.legend-panel.esri-legend.esri-widget {
  overflow: visible;
}

.esri-legend .esri-legend__service,
.esri-legend .esri-legend__message {
  padding: 0 !important;
  margin-bottom: 1rem;
}

.esri-legend .esri-legend__service {
  border-bottom: solid 1px #dadada;
}

.esri-legend .esri-legend__layer {
  margin: 0;
}

/* Info widget */
.info-container {
  display: none;
  box-shadow: none !important;
}

.info-panel-buttons {
  display: flex;
  justify-content: space-between;
}

.info-panel-buttons button {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  font-size: 0.875rem;
}

.info-panel-buttons .info-button-left svg {
  margin-right: 0.25rem;
}

.info-panel-buttons .info-button-right svg {
  margin-left: 0.25rem;
}

.info-panel-buttons button svg {
  color: inherit;
}

.info-panel-title {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  word-break: break-word;
}

.info-panel select {
  margin-bottom: 1rem;
}

.info-table {
  width: 100%;
  margin-bottom: 1rem;
  table-layout: fixed;
}

.info-table td {
  width: 50%;
  padding: 1rem 0.75rem;
  font-size: 0.875rem;
  vertical-align: top;
  word-break: break-word;
}

.info-table tr:nth-child(even) {
  background-color: #ebebeb33;
}

.info-table tr:nth-child(odd) {
  background-color: #ebebeb;
}

.info-statistics-panel {
  margin-bottom: 1rem;
}

/* Time slider*/
.esri-ui-bottom-right.esri-ui-corner {
  width: 100%;
  height: 100%;
}

.timeslider-container {
  position: absolute;
  z-index: 1;
  margin-left: 0 !important;
}

.timeslider-container .timeslider-panel {
  cursor: move;
}

#slide_frame {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

#timeslider_close {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  margin: 0.5rem;
  color: black;
  cursor: pointer;
}

.timeslider-panel + #timeslider_close {
  display: block;
}

.esri-time-slider__time-extent-date {
  margin: 0.5rem 0;
  color: #a0b128 !important;
  font-weight: bold !important;
}

.esri-time-slider__time-extent-time,
.esri-time-slider__min-date + div,
.esri-time-slider__max-date + div {
  display: none;
}

/* Scale */
.esri-scale-bar {
  z-index: 0;
}

/* Modal */
.map-download-modal.ui.modal {
  margin: 0 !important;
}

.map-download-modal.ui.modal li p {
  font-size: 1rem;
}

.map-download-modal.ui.modal > .actions {
  padding: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .map-download-modal.ui.modal > .content,
  .map-download-modal.ui.modal > .actions {
    padding: 1.5rem !important;
  }
}

.map-download-modal .map-download-buttons {
  margin: 0;
}

/* Popup */
.ui.custom.popup {
  max-width: 400px;
  font-size: 0.875rem;
}

@media only screen and (max-width: 767px) {
  .ui.custom.popup {
    max-width: 400px;
  }
  .touchScreenPopup-panel {
    display: block;
  }
}

/* Right panel */
.right-panel {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  width: 300px;
  height: calc(600px - 45px);
  max-height: calc(600px - 45px);
  flex-direction: column;
  background: white;
}

.right-panel-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #f5f5f5;
  font-weight: bold;
}

.right-panel-content {
  overflow: auto;
  height: 100%;
  padding: 1rem;
}

.show-panel {
  width: 336px !important;
}

.active-widget {
  background: black;
}

.esri-component {
  margin-right: auto;
}

/* Tooltip */
[tooltip][type='widget'] {
  height: 36px;
}

[tooltip][type='widget']::after {
  border: none;
  background: #ffffffcc;
}

[tooltip][direction^='left'][type='widget']::before,
[tooltip][direction^='right'][type='widget']::before {
  border-color: transparent;
}

/* Opacity */
.opacity-panel {
  position: absolute;
  display: none;
  width: 200px;
  padding: 1rem;
  background: white;
  box-shadow: 0px 0px 4px 0px #dadada;
}

#opacity_close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  color: black;
  cursor: pointer;
}

.opacity-title {
  color: black;
  font-size: 0.875rem;
  font-weight: 600;
}

.opacity-label {
  margin-top: 0.25rem;
  font-size: 0.75rem;
  text-align: center;
  white-space: nowrap;
}

.opacity-label.left {
  float: left;
}

.opacity-label.right {
  float: right;
}

input[type='range'] {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
  background: #c5c5c5;
  border-radius: 5px;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border: solid 3px black;
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: move;
  transition: all 0.3s ease-in-out;
}

input[type='range']::-moz-range-thumb {
  width: 16px;
  height: 16px;
  border: solid 3px black;
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}

input[type='range']::-ms-thumb {
  width: 16px;
  height: 16px;
  border: solid 3px black;
  -webkit-appearance: none;
  background: white;
  border-radius: 50%;
  cursor: grab;
  transition: all 0.3s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
  border-color: black;
  transform: scale(1.2);
}

input[type='range']::-moz-range-thumb:hover {
  border-color: black;
  transform: scale(1.2);
}

input[type='range']::-ms-thumb:hover {
  border-color: black;
  transform: scale(1.2);
}

input[type='range']::-webkit-slider-runnable-track {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
}

input[type='range']::-moz-range-track {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
}

input[type='range']::-ms-track {
  border: none;
  -webkit-appearance: none;
  background: transparent;
  box-shadow: none;
}

.zoom-in-message {
  padding: 0.1rem 0.6rem 0.1rem 0.6rem;
  margin-top: 0.2rem;
  background: #a0b128;
  border-radius: 10px;
  color: white;
  font-size: 0.875rem;
  text-align: center;
}
