/* Map viewer */
.map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-container .esri-component {
  pointer-events: none !important;
}

.map-container .esri-component > div {
  pointer-events: auto;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #212529;
  font-size: 2rem;
  touch-action: auto;
}

.map {
  width: 100%;
  height: 600px;
  padding: 0;
  margin: 0;
}

.esri-view .esri-view-surface {
  outline: none;
}

.esri-view-height-less-than-medium .esri-popup__main-container {
  max-height: 250px !important;
}

.esri-component.esri-zoom.esri-widget {
  background: none;
  box-shadow: none;
}

.esri-widget--button {
  width: 36px;
  height: 36px;
  border: none !important;
  box-shadow: none !important;
  font-size: 18px;
  line-height: 1.1rem;
  outline: none;
}

.esri-zoom {
  order: 0;
}

.legend-container {
  order: 1;
}

.area-container {
  order: 2;
}

.measurement-container {
  order: 3;
}

.print-container {
  order: 4;
}

.basemap-container {
  order: 5;
}

/* Basemap */
.basemap-container {
  display: flex;
  box-shadow: none !important;
}

.basemap-panel.esri-basemap-gallery {
  width: 300px;
  max-height: 260px;
}

.esri-basemap-gallery {
  display: none;
  margin: 0 !important;
}

.esri-basemap-gallery__item:first-child {
  margin: 0;
}

/* Measure */
.measurement-container {
  display: flex;
  box-shadow: none !important;
}

.measurement-container .measurement-area.esri-measurement {
  display: block;
  flex-direction: column;
}

.measurement-panel {
  display: none;
  width: 300px;
  max-height: 260px;
}

.measurement-buttons {
  display: flex;
  justify-content: space-evenly;
  border-bottom: solid 1px #dadada;
  background: white;
  white-space: nowrap;
}

.measurement-buttons {
  display: flex;
  justify-content: space-evenly;
  background: white;
}

.measurement-buttons .esri-widget--button {
  width: 100%;
  border-bottom: solid 4px transparent !important;
  background-color: white;
  color: black;
}

.measurement-buttons .esri-widget--button:hover {
  background-color: white;
  color: black;
}

.measurement-buttons .esri-widget--button.active {
  border-color: black !important;
}

.esri-measurement p {
  font-size: 1rem;
}

.measurement-coords {
  display: none;
  max-width: 225px;
  padding: 1rem;
  background-color: white;
}

/* Print */
.print-container {
  display: flex;
  box-shadow: none !important;
}

.esri-print {
  display: none;
  max-height: 260px;
}

.esri-print__layout-tab {
  font-size: 1rem;
}

.esri-print input[type='checkbox'] {
  margin-right: 0.25rem;
  vertical-align: middle;
}

.print-container .esri-print .esri-print__swap-button,
.print-container .esri-print .esri-print__refresh-button {
  color: #dadada;
}

.print-container .esri-print .esri-print__swap-button:hover,
.print-container .esri-print .esri-print__refresh-button:hover {
  background: none;
  color: #212529;
}

/* Area */
.area-container {
  display: flex;
  box-shadow: none !important;
}

.area-panel {
  display: none;
  width: 300px;
  max-height: 260px;
  padding: 1rem;
  background-color: white;
  font-size: 1rem;
}

.area-panel .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

.area-panel fieldset {
  padding: 0;
  border: none;
  margin: 0;
}

/* Left menu */
.map-menu {
  display: none;
  width: 450px;
  font-size: 1rem;
}

.map-menu.tab-container .tab {
  display: flex !important;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: solid 4px white;
  margin: 0;
  background: white;
  color: black;
  cursor: pointer;
  font-weight: bold;
  text-align: center;
  white-space: normal;
}

.map-menu.tab-container .tab-selected {
  border-bottom: solid 4px black;
  background: white;
}

.map-menu.tab-container .tabs {
  display: flex;
  align-items: stretch;
  justify-content: space-around;
  border-bottom: solid 1px #dadada;
  background-color: white;
  white-space: nowrap;
}

.map-left-menu-container {
  display: flex;
  box-shadow: none !important;
}

.map-menu .ccl-fieldset {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
}

.map-menu .ccl-fieldset .ccl-dropdown__link {
  margin-top: 0;
}

.map-menu .ccl-form-legend,
.map-menu label span {
  color: black;
  line-height: inherit;
}

.map-menu .ccl-expandable__button::after {
  font-family: 'ccl-icons';
}

.map-menu .ccl-expandable__button[aria-expanded='true']::after {
  content: '\e914';
  transform: rotate(-180deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.map-menu.tab-container .panels {
  width: 100%;
  height: 440px;
  padding: 0;
  background: #ffffff;
  overflow-y: auto;
}

.map-menu .panel {
  display: none;
  animation: fadein 0.8s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.map-menu.tab-container .panel-selected {
  display: block;
}

.map-menu-dropdown .ccl-expandable__button {
  position: relative;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  padding-right: 2.5rem;
  border: none;
  margin: 0.5rem 0;
  background-color: white;
  color: #212529;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
}

.map-menu-dropdown .ccl-expandable__button::after {
  position: absolute;
  right: 0;
  font-family: 'ccl-icons';
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='false']::after {
  content: '\e914';
  transform: rotate(0deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='true']::after {
  content: '\e914';
  transform: rotate(-180deg);
  -webkit-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.map-menu-dropdown .ccl-expandable__button::after {
  margin-right: 0;
  color: black;
}

.map-menu-dropdown .ccl-expandable__button:hover::after {
  color: black;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='false'] + * {
  display: none;
}

.map-menu-dropdown .ccl-expandable__button[aria-expanded='true'] + * {
  display: block;
}

.map-menu-dropdown > .ccl-expandable__button {
  margin-bottom: 0;
}

.map-menu-dropdown,
.map-menu-product-dropdown {
  margin: 0 1rem;
}

.map-menu-product-dropdown .ccl-expandable__button {
  margin-top: 0;
}

.map-menu-dropdown .map-menu-products-container {
  padding-right: 0 !important;
  background-color: white;
}

.map-menu-dropdown .ccl-expandable__button + .ccl-form {
  padding: 0 1rem 0 1rem;
}

.map-menu-dropdown .ccl-form .ccl-form-group {
  display: flex;
  align-items: center;
  margin-top: 0;
}

.map-menu-dropdown .map-menu-dataset {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.map-menu-dataset > div:first-of-type {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.map-menu .map-menu-layers-container {
  width: 100%;
  margin-top: 0.5rem;
  margin-left: 1rem;
}

.map-menu-icons {
  display: inline-block;
  white-space: nowrap;
}

.map-menu-icon {
  margin-left: 0.5rem;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
}

.map-menu-dropdown i:hover {
  color: black;
}

.map-menu-product-dropdown {
  margin-right: 0;
}

.map-menu-product-dropdown .map-product-checkbox {
  background-color: white;
}

#active_panel .no-active-datasets {
  display: block;
  margin: 1rem;
}

#active_panel .active-layer + .no-active-datasets {
  display: none;
}

.active-layer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: solid 1px #dadada;
}

.active-layer:hover {
  background: #dadada40;
  cursor: move;
}

.locked {
  cursor: auto;
  opacity: 0.3;
  pointer-events: none;
}

.active-layer-options {
  white-space: nowrap;
}

.active-layer-options i {
  margin: 0;
  color: black;
  cursor: pointer;
  font-size: 1rem;
}

.active-layer-options i:hover {
  color: black;
}

.active-layer-options > span {
  margin-left: 1rem;
}

#nolayers_message {
  padding: 1rem;
}

/* Download area */
.map-download-area-container {
  position: relative;
}

.map-download-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  min-width: 350px;
  max-width: 500px;
  padding: 1.5rem;
  margin-top: 15px;
  margin-left: 15px;
  background-color: white;
}

.map-download-title {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.map-download-area,
.map-download-resource {
  margin: 1.5rem 0;
}

.map-download-header {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.map-download-resource select {
  cursor: pointer;
}

.map-download-area .ccl-form-legend + .ccl-form-group {
  margin-top: 0.5rem;
}

.map-download-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
}

.map-download-block .ccl-form-group:not(:first-of-type) {
  margin-top: 0.5rem;
}

#download_panel .area-panel {
  width: 100%;
  height: 100%;
}

/* Legend*/
.legend-container {
  display: flex;
  box-shadow: none !important;
}

.legend-panel {
  display: none;
  max-height: 260px;
}

.legend-panel.esri-legend {
  overflow: auto;
}
